* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-blue: rgb(50, 120, 163);
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.dashboard-container {
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 2.5rem;
    align-items: start;
    background-color: var(--bg-blue);
    color: white;
    padding: 1.5rem;
    
}
.dashboard-container a {
    color: inherit;
}

.dashboard-container > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.dashboard-container div:first-child {
    font-size: 2rem;
    grid-row-start: 1;
}

.nav-container {
    grid-row-start: 2;
}

.branding-container {
    grid-row-start: 3;
}

.right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    justify-items: end;
}
.left{
    width: 100%;

}
.header-container {
    grid-row: 1 / 2;

    display: grid;
    gap: 1rem;
    
    padding: 1.5rem;
    box-shadow: 0px 1px 1px gray;
    z-index: 2;
}

.header-container > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
    align-items: center;
}

.header-container > div > :first-child {
   justify-self: start;
}

.bottom.left p:first-of-type {
    font-size: 1rem;
}

[type="search"] {
    font-size: 1rem;
    background-color: lightgray;
    width: 75%;
    border: none;
    border-radius: 25px;
    padding: 5px;
    outline: none;
}

[type="search"]:focus {
    outline: var(--bg-blue) 2px solid;
}

button {
    width: 125px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: var(--bg-blue);
    color: white;
    font-size: 1rem;
}


.main-container {
    grid-row-start: 2;
    
    background-color: lightgray;
    padding: 1.5rem;
    z-index: 1;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    
}

.inside-wrapper {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: .5rem;
}


.projects{
    grid-row: span 2;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 1.25rem;
}

.content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;

    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 2px gray;
    padding: 1.5rem;
    height: 275px;
}

.main-container h1 {
    font-size: 1.5rem;
}

.content p {
    font-size: 1rem;
}
.text-content {
    grid-row-start: 1;
}

.content-nav {
    justify-self: end;
    align-self: end;
}

.announcements {
    grid-column-start: 2;
    
}

.trending {
    grid-column-start: 2;
    grid-row-start: 2;
}

.inside-wrapper > div:last-child:not(.content-wrapper) {
    background-color: white;

    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

